.busqueda {
		padding-right: 15px;
		padding-left: 15px;
		padding-top: 15px;
		background: #00ACC1;
}

.resto {
		padding-left: 4px;
		padding-right: 4px;
		padding-top: 15px;
}

.panel-cabecera h4 {
	font-size: 23px;
	color: #0097A7;
	padding: 0;
}

.panel-body h4 {
	color: #757575 !important;
	font-size: 11px;
	margin-top: 4px;
}

.resto h4 {
    padding-left: 12px;
}

.panel-cabecera span {
		color: #3AA9B7;
}
        
.mibusqueda .form-control {
	height: 33px !important;
}

.panel-heading.panel-cabecera {
    background: none;
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 17px;
}
input.form-control {
    border: none;
    border-radius: 13px;
}

button.btn.btn-default {
    border: none;
    color: white;
    background: rgb(5, 103, 113);
    border-radius: 25px;
}


.tituloh4 {
    font-size: 14px;
    color: #696969;
    margin: 0;
    margin-bottom: 14px;
}

.panel.panel-default.panel-general {
    background: white;
    border-radius: 1px;
    border: solid 1px #DAD9D9;
}
.mibusqueda input {
	font-size: 13px;
}

.mibusqueda span button {
  height: 33px !important;
}

.mibusqueda {
	margin-bottom: 30px;
	margin-top: 10px;
}

.resultadosbusqueda {
   color: #FFFFFF;
   font-size: 18px;
   padding-bottom: 17px;
}

.titulo h3 {
	margin-top: 0px !important;
  margin-bottom: 20px;
}
            
/* Cabecera */

.cabecera div div img {
	margin-top: 8px;
	margin-right: 15px;
	width: 110px;
}

.navbar-brand {
	font-size: 1.7em;
}

/* Contenido central  */

.panel-general div h4 i {
	margin-left: 5px;
	margin-right: 15px;
}

.panel-general div h4 span {
	float: right;
	font-size: 25px;
	margin-top: -5px;
	margin-right: 0px;
}

.contenidotab {
	margin-left: 10px;
}

.panel-cuerpo {
	padding-bottom: 3px !important;
	padding-top: 10px !important;
	/* background-color: #f5f5f5; */
	color: #CCCCCC !important;
	padding-top: 0 !important;
}

.panel-cuerpo table tbody tr td {
	padding-right: 10px;
	padding-bottom: 10px;
}

.textarea-big {
	height: 100px !important;
}

/* Sueltos */

.centrado {
	text-align: center;
}

.principalboton {
	width: 300px !important;
	height: 55px !important;
	margin-top: 10px;
	margin-bottom: 20px;
}

.principalboton span {
	margin-right: 15px !important;
}