.container h3 {
	text-align: center;
}

.botoncentrado {
	text-align: center;
	margin-top: 10px;
	margin-top: 30px;
}

.boton1 {
	width: 200px;
	font-size: 22px;
}

.boton1 span {
	margin-right: 10px;
}