/*Cambios jorge*/
.navbar-default {
	background-color: #0097A7;
	border-color: rgba(231, 231, 231, 0);
	margin-bottom: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(221, 221, 221, 0);
}
.navbar-default .navbar-toggle {
    border-color: rgba(221, 221, 221, 0);
}
.navbar-default .navbar-brand {
    color: #FFF;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(255, 255, 255, 0.86);
}


div#bs-example-navbar-collapse-1 {
    background: #0097A7;
    overflow: hidden;
    height: 100% !important;
    position: fixed;
    border: none;
    border-right: solid 4px rgba(5, 103, 113, 0.59);
    width: 80%;
    color: white !important;
    z-index: 999;
    top: 52px;
    transition: all ease 0.3s;
    left: -89%;
    display: -webkit-box !important;
    padding-left: 32px;
        box-shadow: none !important;
}

.navbar-collapse.in, .collapsing {
    left: 0%!important;
}
.container {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    background: #F1F1F1;
    width: 100%;
}
nav h4 {
    color: white;
    margin-bottom: 0px;
}


/* Cabecera */

.cabecera div div img {
	margin-top: 8px;
	margin-right: 15px;
	width: 110px;
}

.navbar-brand {
	font-size: 1.7em;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    padding: 22px !important;
  }
}

/* Contenido central  */

.container h3 {
	margin-left: 20px;
}

.panel-general div h4 i {
	margin-left: 5px;
	margin-right: 15px;
}

.panel-general div h4 span {
	float: right;
	font-size: 25px;
	margin-top: -5px;
	margin-right: 0px;
}

.contenidotab {
	margin-left: 10px;
}

.panel-cuerpo {
	padding-bottom: 3px !important;
	padding-top: 10px !important;
}

.panel-cuerpo table tbody tr td {
	padding-right: 10px;
	padding-bottom: 10px;
}

.textarea-big {
	height: 100px !important;
}

/* Sueltos */

.centrado {
	text-align: center;
}

.principalboton {
	width: 300px !important;
	height: 55px !important;
	margin-top: 10px;
	margin-bottom: 20px;
}

.principalboton span {
	margin-right: 15px !important;
}