<!-- PÁGINA PRINCIPAL -->

                <div id="principal" class="panel" title="Principal">
                    
                    <h3>Mis colas</h3>
                    
                    <hr>
                    
                    <div class="panel panel-default panel-general">
                        <div class="panel-heading panel-cabecera"><h4><a href="#establecimiento">Banco Sabadell<a/><span class="glyphicon glyphicon-star"></span></h4></div>
                        <div class="panel-body panel-cuerpo">
                            <h4><i class="glyphicon glyphicon-user"></i><b>Nº Personas:</b> 25</h4>
                            <h4><i class="glyphicon glyphicon-time"></i><b>Tiempo estimado:</b> 1h 20min</h4>
                        </div>
                    </div>
                    
                    <div class="panel panel-default panel-general">
                        <div class="panel-heading panel-cabecera"><h4>Paellas Alicante<span class="glyphicon glyphicon-star-empty"></span></h4></div>
                        <div class="panel-body panel-cuerpo">
                            <h4><i class="glyphicon glyphicon-user"></i><b>Nº Personas:</b> 25</h4>
                            <h4><i class="glyphicon glyphicon-time"></i><b>Tiempo estimado:</b> 1h 20min</h4>
                        </div>
                    </div>
                    
                    <div class="panel panel-default panel-general">
                        <div class="panel-heading panel-cabecera"><h4>Banco Sabadell<span class="glyphicon glyphicon-star-empty"></span></h4></div>
                        <div class="panel-body panel-cuerpo">
                            <h4><i class="glyphicon glyphicon-user"></i><b>Nº Personas:</b> 25</h4>
                            <h4><i class="glyphicon glyphicon-time"></i><b>Tiempo estimado:</b> 1h 20min</h4>
                        </div>
                    </div>
                    
                    <div class="panel panel-default panel-general">
                        <div class="panel-heading panel-cabecera"><h4>Paellas Alicante<span class="glyphicon glyphicon-star"></span></h4></div>
                        <div class="panel-body panel-cuerpo">
                            <h4><i class="glyphicon glyphicon-user"></i><b>Nº Personas:</b> 25</h4>
                            <h4><i class="glyphicon glyphicon-time"></i><b>Tiempo estimado:</b> 1h 20min</h4>
                        </div>
                    </div>
                                
                    <div class="centrado">
                            <button class="btn btn-primary btn-lg principalboton"><span class="glyphicon glyphicon-plus"></span>Buscar colas</button>
                    </div>
                </div>
                

                <!-- PÁGINA ESTABLECIMIENTO -->

                <div id="establecimiento" class="panel" title="Establecimiento">

                    <div class="establecimiento">
                        
                        <button class="btn btn-primary btn-lg principalboton">
                        <span class="glyphicon glyphicon-check"></span>Reservar turno</button>

                        <h1>Burguer King <span class="glyphicon glyphicon-star-empty"></span> </h1>
                              
                    </div>
                
                    <div class="resto">
                         <h4>Tiempo de espera actual</h4>

                        <div class="centrado">
                            <p class="npersonas">21 <span>Personas</span><i class="glyphicon glyphicon-user"></i></p>

                            <p class="ntiempo">1hora 30minutos <span> tiempo aprox.</span><i class="glyphicon glyphicon-time"></i></p> 
                        </div>
                                            

                    </div>
                    
                    <br>
                    
                    <h4>Tiempo de espera medio</h4>
                    
                    <div class="ct-chart ct-golden-section" id="chart1"></div>

                    <script>
                      // Initialize a Line chart in the container with the ID chart1

                    new Chartist.Line('#chart1', {
                      labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
                      series: [
                        [12, 9, 7, 8, 5]
                      ]
                    }, {
                      fullWidth: true,
                      chartPadding: {
                        right: 40
                      }
                    });


                    </script>

                </div>