.panel-cuerpo h4 {
    font-size: 17px !important;
}

/* menu bar permanece */

.navbar-header {
width: 100%!important;
}
button.navbar-toggle.collapsed {
display: inherit !important;
}
div#bs-example-navbar-collapse-1 {
max-width: 250px;
}
li.dropdown {
float: none !important;
}
.navbar-toggle {
display: inherit !important;
margin-right: 0px !important; 
}

.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
margin-right: -15px !important;
margin-left: 0px  !important;
}


/*Cambios jorge*/
body {
    min-height: 100% !important;
background-color: #F1F1F1 !important;
}
.navbar-default {
	background-color: #0097A7;
	border-color: rgba(231, 231, 231, 0);
	margin-bottom: 0;
    width: 100%;
    top: 0;
    position: fixed;
    left: 0;
    z-index: 9999;
        box-shadow: 0 0 0px rgba(0, 0, 0, 0.72);
    transition: all ease 0.3s;
}
.navbar-nav {
    width: 100%;
    margin: 0!important;
}
.tituloh4 {
    font-size: 20px !important;
    color: #696969;
    margin: 0;
    margin-bottom: 14px;
    margin-left: 20px !important;
    margin-top: 10px !important;
}
.botonatras {
    float: left;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 12px;
}
.imagen_perfil {
    width: 100px;
    height: 100px;
    background: gray;
    margin: auto;
    border-radius: 50%;
    background: url("https://lh3.googleusercontent.com/PTIRqCtCY8W8lnzyEySB20cJYwjigtHW2nVHcm1IeKDfvFfHqwWoGXywg6VxoeY8xJIn=w1366-h768-rw-no");
    background-size: contain;
}
.li_perfil {
    padding: 0px !important;
    /* background: rgb(0, 172, 193); */
    padding-top: 24px!important;
    overflow: hidden;
    box-shadow: inset 6px -18px 37px rgba(0, 0, 0, 0.7);
    padding-bottom: 9px!important;
}
.fondoperfil {
    width: 110%;
    height: 112%;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: -9%;
    z-index: -1;
    background: url("https://lh3.googleusercontent.com/PTIRqCtCY8W8lnzyEySB20cJYwjigtHW2nVHcm1IeKDfvFfHqwWoGXywg6VxoeY8xJIn=w1366-h768-rw-no");
    -webkit-filter: blur(5px);
    filter: blur(5px);
    background-size: cover;
}
li.dropdown {
    padding-left: 20px;
}

.navbar-nav > li > a {
    padding-top: 18px;
    padding-bottom: 0px;
    line-height: 20px;
}

nav h4 {
    color: #8E8E8E !important;
    margin-bottom: 0px;
    margin: 0;
    padding: 0;
        font-size: 21px;
    padding-bottom: 8px!important;
}

.nombre_perfil {
    text-align: center;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
    font-size: 16px;
    color: #D8D8D8;
    margin-top: 24px;
    margin-bottom: -1px;
    margin-left: 0px;
}
li.dropdown {
    padding-left: 20px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: rgba(221, 221, 221, 0);
}
.navbar-default .navbar-toggle {
    border-color: rgba(221, 221, 221, 0);
}
.navbar-default .navbar-brand {
    color: #FFF;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(255, 255, 255, 0.86);
}
body{
        padding-top: 52px;
}


div#bs-example-navbar-collapse-1 {
    background: #F1F1F1;
    overflow: hidden;
    height: 100% !important;
    position: fixed;
    border: none;
    border-right: solid 4px rgba(5, 103, 113, 0.59);
    width: 80%;
    color: white !important;
    z-index: 999;
    top: 52px;
    transition: all ease 0.3s;
    left: -89%;
    display: -webkit-box !important;
    padding: 0px;
        box-shadow: none !important;
}

.navbar-collapse.in, .collapsing {
    left: 0%!important;
}
.container {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
    background: #F1F1F1;
    width: 100%;
}
nav h4 {
    color: white;
    margin-bottom: 0px;
}


/* Cabecera */

.cabecera div div img {
	margin-top: 8px;
	margin-right: 15px;
	width: 110px;
}

.navbar-brand {
	font-size: 1.7em;
}

@media (min-width: 768px) {
  .navbar > .container .navbar-brand,
  .navbar > .container-fluid .navbar-brand {
    padding: 22px !important;
  }
}

/* Contenido central  */

.container h3 {
	margin-left: 20px;
}

.panel-general div h4 i {
	margin-left: 5px;
	margin-right: 15px;
}

.panel-general div h4 span {
	float: right;
	font-size: 25px;
	margin-top: -5px;
	margin-right: 0px;
}

.sombra {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.72);
}

.contenidotab {
	margin-left: 10px;
}

.panel-cuerpo {
	padding-bottom: 3px !important;
	padding-top: 10px !important;
}

.panel-cuerpo table tbody tr td {
	padding-right: 10px;
	padding-bottom: 10px;
}

.textarea-big {
	height: 100px !important;
}

/* Sueltos */

.centrado {
	text-align: center;
}

.principalboton {
	width: 300px !important;
	height: 55px !important;
	margin-top: 10px;
	margin-bottom: 20px;
}

.principalboton span {
	margin-right: 15px !important;
}