.establecimiento {
    background: #00ACC1;
    margin: 0;
    padding-top: 0px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}



/* Contenedor */ 

.container {
}

.container h1 {
    margin-top: 1px;
    margin-bottom: 20px;
    font-size: 31px;
    padding-bottom: 20px;
    background: #F1F1F1;
    color: #6F6E6E;
    padding-top: 18px;
    text-align: -webkit-left;
    padding-left: 24px;
}

.container h1 span {
    float: right;
    font-size: 23px;
    margin-top: -2px;
}
/* Datos del establecimiento */

.container p i {
	margin-left: 5px;
	margin-right: 15px;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #0097A7 !important;
}

.container h4 {
    padding-left: 28px;
    margin-bottom: 14px;
    color: #777777;
    font-size: 15px;
}
span.ct-label {
    color: #424141;
    font-size: 9px;
    text-align: center;
}

.npersonas {
    font-size: 40px;
    color: white;
    height: 58%;
    margin: auto;
    padding-top: 25%;
}

.npersonas span {
    font-size: 25px;
}
.npersonas i {
	font-size: 25px;
}

.centrado {
    margin-top: 32px;
    margin-bottom: 18px;
    border: solid 4px #3FA2AD;
    margin-left: auto;
    margin-right: auto;
    background: #0097A7;
    border-radius: 50%;
    width: 286px;
    height: 286px;
    padding-top: 0;
    color: #E8E8E8;
    overflow: hidden;
}

.ntiempo {
    font-size: 27px;
    border-top: solid #3FA2AD;
    height: 100%;
    width: 103%;
    padding-top: 5px;
    padding-left: 30px;
    padding-right: 30px;
    margin: -2%;
    color: #0097A7;
    background: white;
    text-align: center;
}
.ntiempo span {
    font-size: 20px;
}
.ntiempo i {
    font-size: 13px;
}
.principalboton {
    background-color: rgb(0, 172, 193);
    border: none;
    border-radius: 0;
    width: 100% !important;
    margin: 0% !important;
}
.principalboton:hover {
    background-color: #00ACC1;
 
}