body {
    margin: 0;
    background: whitesmoke;
}
       rect.highcharts-background {
    fill: rgba(240, 248, 255, 0);
}  
        
.header {
    overflow: auto;
    background: #278A94;
}

.titulo h1 {
    text-align: center;
    color: white;
}

.titulo {
    margin: 30px;
        margin-top: 62px;
}

li {
    display: inline-block;
    color: rgb(255, 255, 255);
    text-align: center;
    float: right;
    margin-right: 33px;
}

.nav {
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
    position: absolute;
    top: 0px;
    width: 100%;
    right: 0;
}
.nav ul {
    margin: 9px;
}
.bloq {
    background: #3FB770 !important;
}
.datos {
    overflow: hidden;
    border: solid 3px #278A94;
    /* margin: auto; */
    background: #F9F9F9;
}

.actual {
    float: left;
    width: 70%;
    font-size: 90px;
    border-right: solid 3px #FFFFFF;
    padding: 24px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    background: #278A94;
}

.contenido {
    width: 80%;
    background: white;
    margin: auto;
    overflow: hidden;
    padding: 6%;
    padding-top: 37px;
}

.detalles {
    color: gray;
    margin-top: 27px;
    font-size: 29px;
    text-align: center;
}

.botones {
    padding-top: 50px;
}

.boton {
    width: 47%;
    cursor: pointer;
    float: left;
    color: white;
    background: gray;
    text-align: center;
    padding: 18px;
    font-size: xx-large;
}
         
         .perfil h1 {
    color: #3C3C3C;
    margin-bottom: 27px;
}
         input[type="text"] {
    border: none;
    border-bottom: solid 2px #278A94;
    width: 40%;
    color: #4A4A4A;
    margin-top: 15px;
    padding: 20px;
    padding-bottom: 5px;
    font-size: 22px;
}
         button {
    float: right;
    margin-top: 36px;
    margin-right: 10%;
    background: #278A94;
    border: solid 3px #1D686F;
    color: white;
    font-size: 21px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 2px;
    padding-bottom: 3px;
}