<link rel="stylesheet" href="./css/colas.css">
<link rel="stylesheet" href="./css/busqueda.css">
<script src="js/bootstrap.js"></script>

<!-- CABECERA web -->
<ng-include src="'partials/navbar.html'"></ng-include>

<!-- CONTENIDO WEB = -->	
<main class="container">

	<!-- Inputs de búsqueda -->
	<div class="busqueda">
	
	<div class="input-group mibusqueda mibuscador">
		<input ng-model="filtronombre" type="text" class="form-control"  placeholder="Busca según nombre...">
		<span class="input-group-btn">
			<button class="btn btn-default mibuscador" type="button">Go!</button>
		</span>
	</div>
	
	</div>
	<!-- Mis sitios encontrados -->
	<div class="resto">
	<h4 class="tituloh4">Sitios encontrados</h4>
	
	<div id="resultadosbusqueda">
		<div class="panel panel-default panel-general" ng-repeat="cola in colas | filter:filtronombre">
			
			<!-- Si está en mis sitios -->
			<div ng-show="cola.estaenmissitios" class="panel-heading panel-cabecera">
				<h4>
					<a href="#/establecimientos/{{cola.id}}">{{cola.nombre}}</a>
					<span ng-click="removeFavoritoSitio(cola.id)" class="glyphicon glyphicon-star"></span>
				</h4>
			</div>

			<!-- Si no está en mis sitios -->
			<div ng-hide="cola.estaenmissitios" class="panel-heading panel-cabecera">
				<h4>
					<a href="#/establecimientos/{{cola.id}}">{{cola.nombre}}</a>
					<span ng-click="putFavoritoSitio(cola.id)" class="glyphicon glyphicon-star-empty"></span>
				</h4>
			</div>


			<div class="panel-body panel-cuerpo">
				<h4><i class="glyphicon glyphicon-user"></i><b>Nº Personas: </b>{{cola.numPersonas}}</h4>
				<h4><i class="glyphicon glyphicon-time"></i><b>Tiempo estimado: </b>{{cola.tiempopromedio}}</h4>
			</div>
		</div>
	</div>	
	
	<br>
	
</main>
<script>

	$(document).ready(function(){	

		$(document).scroll(function(){
		    if (document.body.scrollTop > 1) {
		           $( '#navbar').addClass( "sombra" );

		    }else{
		           $( '#navbar').removeClass( "sombra" );
		    }
		})
	});
</script>