<link rel="stylesheet" href="./css/colas.css">
<link rel="stylesheet" href="./css/busqueda.css">
<script src="js/bootstrap.js"></script>

<!-- CABECERA web -->
<ng-include src="'partials/navbar.html'"></ng-include>

<!-- CONTENIDO WEB = -->
<main class="container">

	<h4 class="tituloh4">Mis colas</h4>

	<div class="panel panel-default panel-general" ng-repeat="cola in datos">
		
		<!-- Si está en mis sitios -->
		<div ng-show="cola.favorito" class="panel-heading panel-cabecera">
			<h4>
				<a href="#/establecimientos/{{cola.EstablecimientoId}}">{{cola.nombre}}</a>
				<span ng-click="removeFavoritoSitio(cola.EstablecimientoId)" class="glyphicon glyphicon-star"></span>
			</h4>
		</div>

		<!-- Si no está en mis sitios -->
		<div ng-hide="cola.favorito" class="panel-heading panel-cabecera">
			<h4>
				<a href="#/establecimientos/{{cola.EstablecimientoId}}">{{cola.nombre}}</a>
				<span ng-click="putFavoritoSitio(cola.EstablecimientoId)" class="glyphicon glyphicon-star-empty"></span>
			</h4>
		</div>

		<div class="panel-body panel-cuerpo">
			<h4><i class="glyphicon glyphicon-qrcode"></i><b>Código turno: </b>{{cola.tiquet}}</h4>
			<h4><i class="glyphicon glyphicon-user"></i><b>Nº Personas por delante:</b>{{cola.delante}}</h4>
			<h4><i class="glyphicon glyphicon-time"></i><b>Tiempo estimado: </b>{{cola.tiempoMedio}}</h4>
		</div>
	</div>

	<div class="centrado">
		<form action="#busqueda">
			<button class="btn btn-primary btn-lg principalboton">
				<span class="glyphicon glyphicon-plus"></span>Agregar colas
			</button>
		</form>
	</div>

</main>
