
        <!-- Bootstrap y mi CSS -->
        <link rel="stylesheet" href="./css/bootstrap.css">
        <link rel="stylesheet" href="./css/colas.css">
        <link rel="stylesheet" href="./css/establecimiento.css">
        <script src="./js/bootstrap.js" type="text/javascript"></script>

        <!-- CABECERA web -->
        <ng-include src="'partials/navbar.html'"></ng-include>

        <!-- CONTENIDO WEB = -->
        <main class="container">
            <div class="establecimiento">
            
            <!-- Si no está bloqueada -->
            <span ng-hide="colabloqueada">
                <span ng-hide="noestaencola" ng-click="putEnCola(cola)">
                    <button id="botonimportante" class="btn btn-primary btn-lg principalboton">
                        <span class="glyphicon glyphicon-check"></span>
                        Reservar turno
                    </button>
                </span>

                <!-- Si no está en la cola -->
                <span ng-show="noestaencola" ng-click="removeEnCola(cola)">
                    <button  id="botonimportante" class="btn btn-danger btn-lg principalboton">
                        <span class="glyphicon glyphicon-remove"></span>
                        Salir de la cola
                    </button>
                </span>
            </span>

            <!-- Si  está bloqueada -->
            <span ng-show="colabloqueada">
                <span>
                    <button  class="btn btn-danger btn-lg principalboton colabloqueada">
                        <span class="glyphicon glyphicon-minus-sign"></span>
                        Cola bloqueada
                    </button>
                </span>

                <!-- Si no está en la cola -->
                <span ng-show="noestaencola" ng-click="removeEnCola(cola)">
                    <button  id="botonimportante" class="btn btn-danger btn-lg principalboton">
                        <span class="glyphicon glyphicon-remove"></span>
                        Salir de la cola
                    </button>
                </span>
            </span>

            <!-- Si está en mis sitios -->
            <h1 class="titulobueno" ng-show="estaenmissitios">{{sitio.nombre}}
                <span ng-click="removeFavoritoSitio(sitio.id)" class="glyphicon glyphicon-star"></span> 
            </h1>

            <!-- Si no está en mis sitios -->
            <h1 class="titulobueno" ng-hide="estaenmissitios">{{sitio.nombre}}
                <span ng-click="putFavoritoSitio(sitio.id)" class="glyphicon glyphicon-star-empty"></span> 
            </h1>


            </div>

            <div class="resto">
                <h4 class="titulitos">Tiempo de espera actual</h4>

                <div class="centrado">
                    <p class="npersonas">{{sitio.numPersonas}} <span>Personas</span>
                    <i class="glyphicon glyphicon-user" style="margin-left:10px"></i></p>

                    <p class="ntiempo">{{tiempomedio}} <span> tiempo</span> </br> <span>aprox.</span>
                        <i class="glyphicon glyphicon-time" style="font-size:30px"></i>
                    </p>
                </div>

            </div>

            <span ng-show="tengocodigo">
                <p class="tucodigo">Turno: <span class="codigo">{{codigo}}</span>
                <i class="glyphicon glyphicon-shopping-cart micarrito"></i></p>
            </span>

            <br>

            <h4 class="titulitos">Estadísticas</h4>

            <!-- Estadísticas -->

            <div class="ct-chart ct-golden-section" id="chart1"></div>
            </br></br>
            <script>
                // Initialize a Line chart in the container with the ID chart1
                new Chartist.Line('#chart1', {
                  labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
                  series: [
                    [12, 9, 7, 8, 5]
                  ]
                }, {
                  fullWidth: true,
                  chartPadding: {
                    right: 40
                  }
                });
            </script>


        </main>
