<!-- CABECERA web -->
	
<nav id="navbar" class="navbar navbar-default cabecera">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
							data-target="#bs-example-navbar-collapse-1" aria-expanded="false"><!--#bs-example-navbar-collapse-1-->
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="#colas">Stop Queues</a>
			<!--<img class="navbar-nav nav-marca" src="./img/logo.png"></img>-->
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
                <li class="dropdown li_perfil">
                    <div class="imagen_perfil">
                    </div>
                    <p class="nombre_perfil">Jorge Azorin</p>
                    <div class="fondoperfil">
                    </div>
                </li>
				<li class="dropdown">
					<a href="#colas" class="dropdown-toggle" data-toggle="dropdown" role="button" 
						 aria-haspopup="true" aria-expanded="false"><h4>Mis colas</h4><span class="sr-only">(current)</span></a>
				</li>
				<li class="dropdown">
					<a href="#missitios" class="dropdown-toggle" data-toggle="dropdown" role="button" 
						 aria-haspopup="true" aria-expanded="false"><h4>Mis sitios</h4><span class="sr-only">(current)</span></a>
				</li>
				<li class="dropdown">
					<a href="#busqueda" class="dropdown-toggle" data-toggle="dropdown" role="button" 
						 aria-haspopup="true" aria-expanded="false"><h4>Buscar sitio</h4></a>
				</li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<!--<li><a href="#"><span class="glyphicon glyphicon-list-alt"></span></a></li>
				<li><a href="#"><span class="glyphicon glyphicon-user"></span></a></li>
				<li><a href="#"><span class="glyphicon glyphicon-info-sign"></span></a></li>
				<li><a href="#"><span class="glyphicon glyphicon-off"></span></a></li>-->
			</ul>
			
			
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>